.blogPage__container{
    padding: 90px 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url(/fondoFotos.jpg);
    background-size: cover;  
}

#progress{
    position: fixed;
    top: 60px;
    width: 0%;
    left: 0;
    background: rgb(131, 128, 128);
    height: .5rem;

    animation: progress-grow auto linear;
    animation-timeline: scroll(root block);
}

@keyframes progress-grow {
    from {width: 0%;}
    to {width: 100%;}
}

.blogPage__title--main{
    font-size: 1.3rem;
}

.blogPage__text{
    text-align: justify;
    line-height: 1.6rem;
}

.blogPage__ul{
    margin-top: 1rem;
    margin-bottom: 2rem;
    align-self: flex-start;
    margin-left: 1rem;
}

.blogPage__title--last{
    font-weight: 700;
    align-self: flex-start;
    font-style: italic;
    margin: 2rem 0;
}

.blogPage__page--textFinal{
    margin-left: 0rem;
    font-size: .9rem;
    font-style: italic;
}


.blogPage__final{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}



.blogPage__title{
    margin-top: 2rem;
}

.blogPage__name{
    font-size: 1.2rem;
}

.blogPage__pay{
    font-size: 2rem;
}


@media(width > 500px ){

    .blogPage__container{
        padding: 90px 5rem;
    }

    .blogPage__page--textFinal{
        margin-left: 2rem;
        max-width: 80%;
        text-align: justify;
    }
}


@media(width > 900px ){

    .blogPage__container{
        padding: 90px 7rem;
    }

    .blogPage__page--textFinal{
        margin-left: 2rem;
        max-width: 80%;
        text-align: justify;
    }
}