
.photos__container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.photos__categories{
    width: 80%;
    height: 100%;
    margin-top: 60px;
}

.mySwiper {
    width: 80%;
    margin: 20px auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
    border-radius: 10px;

    width: 80%;
}

.swiper-pagination {
    position: relative;
    bottom: 10px;
}
