.album__container{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-image: url(/fondoFotos.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
    display: flex;
    flex-direction: column;
    align-items: center;
}



.album__description--title{
    position: sticky;
    font-size: 1.2rem;
    top: 80px;
    width: 100%;
    text-align: center;

    animation: enhance-title linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 400px;

    z-index: 2;
} 

.album__description--description{
    width: 85%;
    max-width: 800px;

    font-size: 1.3rem;
    margin-top: 55px;
    text-align: justify;

    position: relative;
    top: 0px;

    font-size: 1rem;
}


.album__gallery--container{
    width: 100%;
    columns: 1;
    padding:16px 32px;
    column-gap: 32px;
    margin-top: 50px;
}




/****************************************************************/


.paginate__pagination--container{
    width: 85%;
    margin: 0 0 1.5rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    list-style: none;
}


.paginate__pagination--break{
    cursor: pointer;
}

.paginate__pagination--li{
    list-style: none;
    cursor: pointer;
    color: aliceblue;
}

.paginate__pagination--page{
    background-color: var(--numbersBackgroundColor);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginate__pagination--page:hover{
    background-color: var(--numbersBackgroundColorHover);
}


.paginate__pagination--active{
    background-color: var(--numbersBackgroundActive);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginate__pagination--activeTransparent {
    background-color: rgba(199, 76, 15, 0);
}

.paginate__pagination--next-previous{
    cursor: pointer;
    color: var(--numbersBackgroundColor);
    border: 1px solid var(--numbersBackgroundColor);
    padding: .6rem;
    border-radius: 10%;
    font-weight: bold;
}

.paginate__pagination--next-previous:hover{
    background-color: var(--numbersBackgroundColorHover);
    color: aliceblue;
    border: 1px solid transparent;
}

.paginate__pagination--disabled{
    color: grey;
    cursor: no-drop;
    border: 1px solid grey;
}

.paginate__pagination--disabled:hover{
    background-color: rgb(73, 72, 72);
}


@media(width > 400px){
    .paginate__pagination--container{
        justify-content: center;
        gap: 2rem;
    }


    .paginate__pagination--page{
        background-color: var(--numbersBackgroundColor);
        width: 50px;
        height: 50px;

    }


    .paginate__pagination--active{
        background-color: var(--numbersBackgroundActive);
        width: 50px;
        height: 50px;

    }
    
}





@keyframes enhance-title{
    to {
        background: rgba(255,255,255, .4);
        backdrop-filter: blur(5px);
        -moz-backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        -o-backdrop-filter: blur(5px);
        -ms-backdrop-filter: blur(5px);

        font-size: 1rem;
        top: 60px;
        padding: 1rem;
        color: black;
    }
}






@media(width > 400px ){

    .album__gallery--container{
        width: 100%;
        columns: 2;
        padding:16px 32px;
        column-gap: 32px;
    }

    .album__description--description{
        font-size: 1.1rem;
        margin-top: 100px;
        text-align: center;
    }
    
}


