.albumCard__container{
    width: 100%;
}

.albumCard__img{
    border-radius: 4px;
    
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 30%;
}


.albumCard__img img{
    border-radius: 4px;
    height: auto;
    margin-bottom: 32px;

}   



@keyframes reveal{
    from {
        opacity: 0;
        translate: 0 100px;
        scale: .9;

    }
    to{
        opacity: 1;
        translate:0 0 ;
        scale: 1;
    }
}

