:root{
    --white: rgb(176, 181, 185);
}

.footer__container {
    background-color: #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    text-align: center;
}

.footer__title{
    color: rgb(243, 243, 243);
}

.footer__item{
    color: var(--white);
}

.footer__item--i{
    color: rgb(255, 255, 255);
}

.footer__item--span{
    color: white;
    text-decoration: none;
}

.footer__item--a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}


.footer__facebook i{
    color: aliceblue;
    cursor: pointer;
}

.footer__developer{
    border-top: 1px solid grey;
    padding-top: 1rem;
    margin-top: 2rem;
    text-align: center;
}

.footer__developer--strong{
    color: rgb(243, 243, 243);
}


@media(width > 690px){
    .footer__nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        text-align: center;
    }
}


