@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');


:root {
  --navbarHeight: 60px;
  --principal-black: #413f3f;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Kurale', serif;
  font-size: 19px;

  color: var(--principal-black);

}

img{
  width: 100%;
}

select {
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: cursive, sans-serif;
  outline: 0;
  background-color: rgba(221, 224, 228, 0.295);
  color: #030303;
  border: 1px transparent ;
  padding: 4px;
  border-radius: 9px;
  font-family: 'Kurale', serif;
  font-weight: 500;


}